---
import MainLayout from "@/layouts/MainLayout.astro";

import NavBar from "@/components/ui/NavBar/NavBar.astro";
import Hero from "@/components/presentation/home/Hero/Hero.astro";
import LoginForm from "@/components/presentation/home/Hero/LoginForm.astro";
---

<MainLayout title="Login">
  <NavBar />
  <div class="container mx-auto">
    <Hero title="Welcome to Quiz App Web" subtitle="Register your account">
      <LoginForm />
    </Hero>
  </div>
</MainLayout>
