---
// import QuestionImage from "@/assets/svgs/QuestionImage.astro";
// import QuestionThreeMonster from "@/assets/svgs/QuestionThreeMonster.astro";
// import AnswerOnePerson from "@/assets/svgs/AnswerOnePerson.astro";

import HeroSwiper from "@/components/third-party/react/HeroSwiper";

interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<main class="grid grid-cols-1 lg:grid-cols-2 gap-4">
  <section class="">
    <HeroSwiper client:only="react" />
  </section>
  <section class="flex flex-col justify-center items-start">
    <h1 class="text-4xl font-bold text-[#283641]">{title}</h1>
    <p class="text-gray-500 mt-6 text-lg">{subtitle}</p>
    <slot />
  </section>
</main>
